

    :root {
        --ventionBlue:#1C344F;
        --accentBlue: #197CE0;
        --CTAGreen: #1AC876;
        --ventionGrey: #Eff2f7;
        --ventionDarkGrey: #BEC9CD;
        
        
        --t1: 19px;
        --t2: 14.9px;
        --t3: 11.8px;
        --t4: 9.2px;
        
        }
        
        
        a:hover {
            color:var(--ventionDarkGrey)
        }
        
        #div1 {
            background-color: var(--main-bg-color);
        }
        
        
        
        .indent1{
            margin-left: 25px;
        }
        
        .indent2{
            margin-left: 100px;
        }
        
        
        .funcWrapper {
            background: var(--ventionGrey);
            border-left: 2px solid var(--accentBlue);
            margin-top:5px;
            padding-left: 20px;
        }
        
        .funcClassName{
            font-size: var(--t3);
            font-style: italic;
            margin-left: -20px;
        }
        
        .funcName {
            font-size: var(--t2);
        }
        
        .funcParamHeading{
            font-size: var(--t2);
            font-style: italic;
            padding-right:10px;
            font-family: monospace;
        }
        
        .funcParam{
            color: var(--ventionBlue);
            font-size: var(--t2);
            font-family: monospace;
        }
        
        .funcParamType{
            color: var(--ventionBlue);
            font-size: var(--t3);
            
        }
        
        .funcText{
            margin-top: 10px;
            background: var(--ventionGrey);
            font-size: var(--t2);
        }
        
        .code-demo {
            width: 90%;
            font-size:0.8em;
            align-content: center;
        }
        
        
        .runCodeBtn {
            position: relative;
            bottom: -40px;
            left: 78%;
        }
        
        
        #sideNav .nav{
            border-left: 2px solid var(--ventionGrey);
        }
        
        .myTocHeader{
            font-size: var(--t2);
            color: var(--ventionDarkGrey);
            margin-left: 5px;
        }
        
        .myTocItem a{
            margin-top: 2px;
            padding-left: 10px;
            color: var(--ventionBlue);
            font-size: var(--t3);
            text-decoration: none;
        }
        
        .myTocItem a:hover{
            padding-left: 12px;
            color: var(--accentBlue);
            -moz-transition: padding-left.1s ease-in;
            -o-transition: padding-left  .1s ease-in;
            -webkit-transition: padding-left  .1s ease-in;
            transition: padding-left  .1s ease-in;
        }
        
        
        .sticky-side-nav {
            padding-top: 90px;
            position: fixed;
            top: 0;
            -moz-transition: padding-top.3s ease-in;
            -o-transition: padding-top  .3s ease-in;
            -webkit-transition: padding-top  .3s ease-in;
            transition: padding-top  .3s ease-in;
        }
        
        .api-button{
            font-size: var(--t3);
            display: inline-block;
            margin-right: 5px;
        }
        
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
        }
        
        .funcNote {
            width: 80%;
            margin-top: 10px;
            padding-top: 5px;
            padding-bottom: 10px;
            font-style: italic;
            font-size: var(--t3);
        
            border-top: 1px solid var(--ventionDarkGrey);
        }
        
        .requiredOptional {
        
            font-style: italic;
        }
        
        /* used to adjust the scroll height when menu nav is clicked */
        .anchor {
            display: block;
            position: relative;
            top: -250px;
            visibility: hidden;
        }
        
        code {
            color: var(--ventionBlue);
        }
        
        .card-text{
            word-wrap: break-word;
          }
        